#Discover {
  .container {
    background-color: #d1d1d1;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
  }
}

@media only screen and (max-width: 576px) {
  #Discover {
    .container {
      background-color: #d1d1d1;
      margin: 0 auto;
      border-radius: 0;
    }
  }
}
